{% extends "base.html" %}
{% block content %}
<form method="POST" action="{{url_for('autenticar', next=request.args.get('next'))}}">
    {{ form.csrf_token() }}
    <input type="hidden" name="next" value="{{next}}">
    <div class="form-group">
        {{ form.nome.label(class="form-label") }}
        {{ form.nome(class="form-control") }}        
    </div>
    <div class="form-group">
        {{ form.senha.label(class="form-label") }}
        {{ form.senha(class="form-control") }}       
    </div>
    <div class="buttons" style="margin-top: 10px;">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
{% endblock %}